.exp-container-header
{
    padding-top: 50px;
    background-color: lightgray;
}

.exp-container-header h1
{
    text-align: center;
    font-size: 40px;
}

.exp-container-under-line
{
    padding: 5px;
    margin: 0;
    background-color: lightgray;
}

.exp-container-line
{
    padding: 0;
    display: flex;
    width: 50px;
    margin: auto;
}

.exp-container
{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.5fr 0.5fr;
}

.exp-grid
{
    display: grid;
    padding: 10px;
    background-color: lightgray;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

.exp-view
{
    border-style: solid;
    overflow: scroll;
    height: 400px;
}

.exp-image-view
{
    margin-bottom: 8px;
    position: relative;
}

.exp-image
{
    width: 100%;
    height: 350px;
    transition: 0.2s;
}

.exp-image:hover
{
    opacity: 0.5;
}

.exp-image:active
{
    opacity: 0.8;
}

.exp-text
{
    margin: 0;
    padding: 0;
}

.exp-text h2
{
    text-align: center;
}

.exp-text p
{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

.exp-text ul
{
    margin-left: 20px;
    padding: 10px;
}

@media screen and (max-width: 1000px) 
{
    .exp-grid
    {
        grid-gap: 16px;
        padding: 16px;
        grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
        grid-auto-flow: column;
        grid-auto-columns: minmax(400px,1fr);
        overflow-x: auto;
    }
    .exp-view
    {
        overflow: scroll;
        height: 400px;
    }

    .exp-image
    {
        width: 100%;
        height: 300px;
        transition: 0.2s;
    } 

    .exp-text h2
    {
        font-size: 32px;
    }

    .exp-text p
    {
        font-size: 20px;
        padding: 5px;
    }
    
    .exp-text ul
    {
        margin-left: 10px;
        padding: 10px;
        font-size: 20px;
    }
}