.game-container-header
{
    padding-top: 50px;
    background-color: rga(229, 111, 111);
}

.game-container-header h1
{
    text-align: center;
    font-size: 40px;
    color: rgb(255, 242, 0)

}

.game-container-under-line
{
    padding: 5px;
    margin: 0;
}

.game-container-line
{
    padding: 0;
    display: flex;
    width: 80px;
    border-bottom:3px solid;
    border-radius: 200px;
    margin: auto;
}

.game-grid
{
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    padding-bottom: 50px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(400px, 1fr);
    overflow-x: auto;
}

.game-image
{
    border: 5px solid #555;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    width: 80%;
    height: 400px;
    transition: all 0.5s;

}

.game-overlay 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;

}

.game-view
{
    position: relative;
    text-align: center;
    font-size: 50px;

}

.game-text
{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.game-view:hover .game-overlay
{
    opacity: 1;
}

.game-view:hover .game-image
{
    opacity: 0.5;
}
